.width {
    width: 100%;
    height: auto;
    max-height: 35rem;
    overflow: hidden;
    margin: 1.5rem 0rem 1.5rem 0rem;
}
img {
    width: 100%;
    height: 100%;
}
.cent-align {
    text-align: center;
}
.flex-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}