{%extends 'base.html'%}
    {%block content%}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 cent-align">
            <h1>{{recipes.meal_name}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 width">
            <img src="{{recipes.url_img}}"></img>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 flex-align">
            <div class="row">
                <div class="col-md-12 cent-align">
                    <span>{{recipes.macros.calories}} |</span>
                    <span>{{recipes.macros.proteins}} proteins |</span>
                    <span>{{recipes.macros.carbs}} carbs |</span>
                    <span>{{recipes.macros.fat}} fat</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 cent-align">
                    <p>{{recipes.description}}</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row cent-align">
        <p>{{recipes.ingredients}}</p>
        <br>
        <p>{{recipes.preparation}}</p>
        <br>
    </div>
    <div class="row cent-align">
        <span>{{recipes.author.name}}</span>
        <span>{{recipes.author.last_name}}</span>
    </div>
    <div class="like">
        <a class="show"></a>
    </div>
</div>
{%endblock%}