{%extends 'base.html'%} {%block content%}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="margin cent-align">{{recipes.meal_name}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 width-recipe-page">
            <img src="{{recipes.url_img}}"></img>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8 cent-align">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 margin">
                    <h5>Macronutritients</h5>
                    <span>{{recipes.macros.calories}} calories |</span>
                    <span>{{recipes.macros.proteins}} proteins |</span>
                    <span>{{recipes.macros.carbs}} carbs |</span>
                    <span>{{recipes.macros.fat}} fat</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <h5>Description</h5>
                    <p>{{recipes.description}}</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row margin cent-align">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h5>Ingredients</h5>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <p>{{recipes.ingredients}}</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h5>Instructions</h5>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <p>{{recipes.preparation}}</p>
        </div>
    </div>
    <div class="row margin cent-align">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h5>Author</h5>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <span>{{recipes.author.name}}</span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <span>{{recipes.author.last_name}}</span>
        </div>
    </div>
    <div class="row margin cent-align">
        <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 col-xl-1 margin-buttons">
            <form method="POST" action="{{url_for('upvote', recipe_id=recipes._id)}}">
                <button class="round blue" type="submit" name="upvote">Like</button> 
            </form>
        </div>
        <div class="col-xs-12 col-sm-11 col-md-11 col-lg-11 col-xl-11 ">
            <form method="POST" action="{{url_for('downvote', recipe_id=recipes._id)}}">
                <button class="round red" type="submit" name="downvote">Dislike</button>
            </form>
        </div>
    </div>
</div>
{%endblock%}